<!DOCTYPE html>
<html>
  <head>
    <title>syntax.sh - Cross Language Syntax Cheat Sheet</title>

    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    {{page.pagecss}}
  </head>
  <body>
    <div id="wrap">
      <div id="main">
        {{content}}
      </div>
    </div>

    <div id="footer">
    </div>

    {% if page.main %}
    <script type="text/javascript" data-main="{{page.main}}" src="scripts/lib/require.min.js"></script>
    {% endif %}

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45271924-1', 'syntax.sh');
      ga('send', 'pageview');

    </script>
  </body>
</html>
