/*

  Modified from BASSCSS by Jxnblk

  Part reset, part boilerplate, part framework, all minimal.

  BASSCSS is a small reset and collection of simple type and layout
  classes that can be used as the basis for any web project.
  Use it out of the box or as a base for SASS @extend classes.

*/
body, h1, h2, h3, h4, h5, h6, dl, ol, ul,
button, input, select, textarea {
  margin: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block; }

body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #555;
  line-height: 1.7em;
  background-color: #fff; }

/* Type scale */

h1, h2, h3 {
  color: #555;
}

h1, .h1, h2, .h2 {
  font-family: 'Roboto', sans-serif;
}

h1, .h1 {
  font-size: 3.4rem;
  line-height: 3.25rem; }

h2, .h2 {
  font-size: 2.5rem;
  line-height: 2.5rem; }

h3, .h3 {
  font-size: 2rem;
  line-height: 1.25; }

h4, .h4 {
  font-size: 1.5rem;
  line-height: 1.5; }

code {
  margin: 0 2px;
  font-size: 1.15em;
  color: #888; }

h5, h6, dl, ol, ul, p, .p, pre code {
  font-size: 1.125rem; }


small, .small {
  font-size: .875rem; }

// mobile only - smaller than 640px
@media (max-width: 640px) {
  .responsive h1 {
    font-size: 4.4rem;
    margin-bottom: 10px;
  }
  .responsive h2 {
    font-size: 3.5rem;
  }
  .responsive h3 {
    font-size: 3rem;
  }
  .responsive h4 {
    font-size: 2.5rem;
  }
  .responsive p {
    font-size: 1.25rem; }
  .responsive .small, .responsive.small {
    font-size: 1rem; }
}
// 640 - 1024 picks up the default size
@media (min-width: 1024px){
  .responsive h1 {
    font-size: 5.4rem;
  }
  .responsive h2 {
    font-size: 4.5rem;
  }
  .responsive h3 {
    font-size: 4rem;
  }
  .responsive h4 {
    font-size: 3rem;
  }
}

strong, .bold {
  font-weight: 700; }

.regular {
  font-weight: normal; }

.light {
  font-weight: 300; }
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em; }

.inline {
  display: inline; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.table {
  display: table; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.fit {
  max-width: 100%; }


/* Broccolini styles */

a { text-decoration: none; }

a:link    { color: #008fd5; font-weight: 400; }
a:visited { color: #008fd5; }
a:hover   { text-decoration: underline; }
a:active  { color: #008fd5; }

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 36px;
}  /* must be same height as the footer */

#footer {
  position: relative;
  margin-top: -36px; /* negative value of footer height */
  padding: 12px 0 12px 0;
  height: 12px;
  font-size:12px;
  clear:both;
  text-align:center;
  z-index:100;
  background-color: #fff;
}


/*
 * Basic Layout
 */
div.select {
  position:fixed;
  top:0;
  left:0;
  height:10em;
  width:100%;
  padding: 1em;
  background-color: #efefef;
  border-bottom: 1px #eee solid;
}

ul.topics {
  list-style: none;
  margin:10em 0 0 0;
  padding:0;
}

.col1, .col2, .col3 {
  display: block;
  width: 100%;}

.col2 {
  border-bottom: 1px dashed #ddd;
}

a.col1 {
  font-size: 1.4em;
}


@media (min-width: 768px) {
.col1, .col2, .col3 {
  display: block;
  width: 100%; }
}


@media (min-width: 1024px) {
div.select {
  height:3em;}

ul.topics {
  margin:4em 0 0 0; }

.col1 {
  vertical-align:middle;
  display:inline-block;
  width:14%; }

.col2, .col3 {
  vertical-align:top;
  display:inline-block;
  padding-left: 4%;
  box-sizing:border-box;
  width:39%; }

.col2 {
  border-bottom: none; }
}

@media screen and (min-width: 1280px) {
div.select {
  height:3em;}

ul.topics {
  margin:4em 0 0 0; }

.col1 {
  vertical-align:middle;
  display:inline-block;
  width:14%; }

.col2, .col3 {
  vertical-align:top;
  display:inline-block;
  padding-left: 4%;
  box-sizing:border-box;
  width:39%; }

.col2 {
  border-bottom: none; }
}

/* =============== */

ul.topics > li.topic {
  border-top:1px solid #ddd;
  padding: 2em 1em;
}

ul.topics > li {
  transition: 0.5s all;
  padding: 1em;
}

li.current_section {
  background-color:#ffffcc;
}

pre code {
  overflow:scroll;
}

div.select select {
  font-size:36px;
}

